<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>
<h1>Must-Do Forum: Restaurants</h1>
		<hr/>
</header>
		<img src="http://www.wpclipart.com/geography/world_maps/world_map_simple_black.jpg">

        <h5 id="asia"><a href="/mustdo/foods/asian">Asian</a></h5>
        <h5 id="america"><a href="/mustdo/foods/american">American</a></h5>
        <h5 id="europe"><a href="/mustdo/foods/europe">Europe</a></h5>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/> 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/>   
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/>        
	<a href="/mustdo">Home</a>
</body>
<style type="text/css">

	header {

	background-color: grey;

 }


	#asia { 
			display: inline-block;
			position: relative;
				bottom: 220px;
				right: 160px;	

	 }

	#america { 
		display: inline-block;
		position: relative;
		bottom: 220px;
		right: 550px;
	 } 


	#europe { 
		display: inline-block;
		position: relative;
		bottom: 225px;
		right: 395px;
	 }

</style>
</html>