<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>
<h1>Must-Do Forum: Music</h1>
		<hr/>
</header>		
<div class="iconone">
        <div id="link"><a class="link" href="/mustdo/music/rock">Rock</a></div>
        <div id="link"><a class="link" href="/mustdo/music/rap">Rap</a></div>
        <div id="link"><a class="link" href="/mustdo/music/rb">R&B</a></div>
      </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/> 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/>   
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/>      
  <a href="/mustdo">Home</a>

</body>
<style type="text/css">
	header {

	background-color: grey;

 }

  #link { 
 	display: inline-block;
 	margin-right: 50px;
 	background-color: lightgrey;
 	width: 100px;
 	height: 100px;


  }

.link { 
	position: relative;
		top: 40px;
		left: 28%;

 }


</style>
</html>