<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
  </head>
  <header>
  </header>
  <body>
    <h2>Create</h2>
    <form action="/mustdo/music" method="post">
        <input type="text" name="artist" value="" placeholder="artist">
        <input type="text" name="album" value="" placeholder="album">
        <input type="text" name="song" value="" placeholder="song">
        <input type="text" name="genre" value="" placeholder="genre">
        <input type="text" name="comment" value="" placeholder="comment">
        <input type="text" name="username" value="" placeholder="username">
        <button>Create</button>
    </form>
  </body>
</html>
</body>
</html>
