<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
	<header>
	<h1>Must-Do Forum: Movies</h1>
		<hr/>
		</header>
<div class="links">
        <h5 id="link"><a class="link" href="/mustdo/movies/comedy">Comedy</a></h5>
        <h5 id="link"><a class="link" href="/mustdo/movies/action">Action</a></h5>
        <h5 id="link"><a class="link" href="/mustdo/movies/scifi">Sci-Fi</a></h5>
  
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/> 
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/>   
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>
<br/>   
<a href="/mustdo">Home</a>
</body>

<style type="text/css">
		header {

	background-color: grey;

 }

 #link { 
 	display: inline-block;
 	margin-right: 50px;
 	background-color: lightgrey;
 	width: 100px;
 	height: 100px;


  }

.link { 
	position: relative;
		top: 40px;
		left: 28%;

 }


</style>
</html>